* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

h1{
    color: white;
}

#container{
    position: absolute;
    top: 75%;
    width: 100%;
    max-width: 1500px;
    height: 200px;
    display: flex;
    align-items: flex-end;
}

.bar{
    background-color: white;
}

.controls {
    display: flex;
    height: 50px;
}

button{
    width: 50px;
    height: 50px;
    border: 3px solid gray;
    border-radius: 10px;
}
.input-group{
    width: 250px;
    height: 100%;
    border: 3px solid gray;
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.input-group input {
    width: 30px;
    height: 100%;
    outline: none;
    border: none;
    flex-grow: 1;
}

.input-group label {
    margin: 0 10px;
    font-size: 1.5rem;
}

/* dropdown menu */

.dropbtn {
  background-color: #fff;
  color: #000;
  font-size: 1.5rem;
  border: 3px solid grey;
  width: fit-content;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
    width: 100%;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
    display: block;
    border: none;
    font-size: 1.5rem;
}

.dropdown-content button:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #ddd;}